.main-content{

    justify-content: center;
    align-content: center;
    background-color: #f5f5dc;
}

/* para agrandar el headr, despues capaz no hae falta meterle reglas de tamaño a la img */

.profile-container{
    
    display:grid;
    grid-template-columns:  20% 80%;
    grid-template-rows:  1fr;

}

.main-picture{

    border-radius:10px;
    align-self: center;
    min-width:50%;     
    max-width:100%;
}

.footer-image{
    
    border-radius:10px;
    align-self: center;
    min-width:30%;     
    max-width:70%;
}

.about-me-text{

    text-align: center;
    justify-content: center;
    align-items: center;


}

.my-work-h3{

    margin-left: 1.5em;
}


.project-cards-container{
    margin: 1.5em;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}

.project-card{

    max-width: 150px;
    margin:15px;
}

.profile-container,
.projects-container,
.contact-info-container{
    
    border: 1px solid red;
    
}


.contact-info-container{
    
    display:grid;
    background-color: #daf7ae;
    grid-template-columns: 35% 65%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "contact-me-h3 footer-image"
    "contact-me-text footer-image"
    "contact-info-vias footer-image";
    
}

.contact-me-h3,
.contact-me-text,
.contact-info-vias
{
    margin-left: 15% ;
}

.contact-me-h3{grid-area:contact-me-h3;}
.contact-me-text{grid-area:contact-me-text;}
.contact-info-vias{grid-area:contact-info-vias;}
.footer-image{grid-area:footer-image;}


/*

media queries

- una que haga que se achique a tamaño de celular si llega a determinado ancho


*/